@charset "ISO-8859-1";
/* Reset de estilos padrão */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    background-image: url('https://img.freepik.com/fotos-gratis/garcom-feliz-servindo-comida-para-um-grupo-de-amigos-alegres-em-um-pub_637285-12525.jpg?w=996&t=st=1701924478~exp=1701925078~hmac=cf8bb9d998d939bb2ee66df105fe486b60c2798aa0d687e3173f56a98a06e963');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size:40px;
    color: #C40233;
}

#conteudo {
    width: 80%;
    margin: 20px auto;
    background-color: #EEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loading {
    text-align: center;
    margin-top: 20px;
}

/* Estilo do formulário */
#formulario {
    margin-top: 20px;
}

label {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #C40233;
    color: #EEE;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="button"]:hover {
    background-color: #C40233;
}

/* Estilo da tabela */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #C40233;
    color: #fff;
    font-size:15px;
}

/* Botões na tabela */
#dados td:last-child {
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    #conteudo {
        width: 90%;
    }
}
